*{
    box-sizing: border-box;
}
body{
    font-family: 'monserrat',sans-serif;
    font-size: 34px;
    color: rgba(0,0,0,0.);
    line-height: ;
    margin: 0;
}
.topbar{
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px;
}
.topbar nav{
     float: left;
}
.topbar nav a{
    color:white ;
    text-decoration: none;
    font-weight: ;
    padding: 0 ;
    line-height: ;
}

.social{
        float: right;
}
.social a{
    padding: ;
    opacity: 0.5;
}
.social a .topbar{
    opacity: 0.5;
}


.hh img{
     height: ;
     background: no-repeat center center / cover url(/image/down_pdf.gif);

}








